.center-items {
    justify-content: center;
}

.calculate-style {
    align-content: center;
    text-align: center;
    margin: 50px;
    height: 100%;
    padding: 20px;
    border: 2px solid #eec643;
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

#headingOne, #headingTwo {
    height: 40px;
    padding: 0 !important;
}

#collapseOne, #collapseTwo {
    margin: 15px;
}

.collapse-button {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #212529;
}

select {
    font-size: 15px;
}

.disp-flex {
    display: flex;
}

.calc-board {
    justify-content: space-around;
}

.border-top {
    width: 400px;
    border-top: 1px solid rgb(65, 64, 64);
}

.border-right {
    width: 600px;
    border-right: 1px solid rgb(65, 64, 64);
}

.miles-km-input {
    border: 2px solid #59933d;
    border-radius: 5px;
    color: rgb(65, 64, 64);
    width: 500px;
    height: 40px;
}

#car-type {
    background-color: #59933d;
    border: 2px solid #59933d;
    border-radius: 5px;
    color: #fff;
    width: 500px;
    height: 40px;
}

.carbon img {
    border: 2px solid #eec643;
    border-radius: 10px;
}

/* Media Queries */

/* Media Queries for max-width: 650px  */
@media screen and (max-width: 1250px) {
    .border-top {
        width: 300px;
        border-top: 1px solid rgb(65, 64, 64);
    }
    
    .border-right {
        width: 450px;
        border-right: 1px solid rgb(65, 64, 64);
    }

    .miles-km-input {
        width: 100%;
        height: 40px;
    }
    
    #car-type {
        width: 100%;
        height: 40px;
    }
}

@media screen and (max-width: 1015px) {
    .border-top {
        width: 200px;
        border-top: 1px solid rgb(65, 64, 64);
    }
    
    .border-right {
        width: 400px;
        border-right: 1px solid rgb(65, 64, 64);
    }
}

@media screen and (max-width: 850px) {
    .border-top {
        width: 0;
    }
    
    .border-right {
        width: 300px;
    }
}

@media screen and (max-width: 629px) {  
    .border-right {
        width: 100%;
        border: none !important;
        padding-left: 30px;
    }
    
    .calc-board {
        flex-direction: column;
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
    }

    h3 {
        font-size: 15px;
        font-weight: bold;
    }

    p, h4 {
        font-size: 15px;
    }

    .car-type {
        width: 10px;
    }

    button {
        margin-bottom: 15px !important;
    }

    .calculate-style {
        margin: 10px;
    }

    .calculator-form {
        margin: -20px;
    }

    .calculate-style p {
        display: none;
        margin: 0;
        padding: 0;
    }

    .collapse-button {
        font-size: 15px;
    }
    
    .padding {
        padding: 0 !important; 
    }
}