body {
    margin: 0;
    background-color: #bebfc4;
    padding: 0;
    min-height: 100vh; /* Ensure the body takes at least the viewport height */
    display: flex;
    flex-direction: column; /* Make the body a flex container */
}

header {
    background-color: #ffffff;
}

.navbar {
    background-color: #183C28;
    color: #ffffff;
    padding: 1.3rem;
}

.nav-link {
    color: #ffffff;
    font-size: 1.2rem;
}

nav a:hover {
    color: #eec643;
}

/* Styles for the home page content */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px; /* Adjust padding as needed */
    padding-top: 0;
    margin: 0 2rem;
}

.image-container {
    text-align: center;
}

.landing-image {
    width: 100%;
    height: 30%; /* Maintain aspect ratio */
}

/* Style for the horizontal line (separator) */
.separator {
    border: 1px solid #080808; /* Adjust the border style, color, and width as needed */
    width: 100%;
    margin: 20px 0; /* Adjust the margin as needed to control spacing */
    margin-top: 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #eec643; /* Add a border */
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); /* Add a shadow with a slight offset to the right */
    background-color: #ffffff;
    padding: 20px;
}

.text-container h1 {
    font-size: 2rem;
}

.text-container p {
    text-align: left;
    font-weight: 500;
    font-size: 18px;
}


footer {
    margin-top: auto; /* Push the footer to the bottom */
    background-color: #183C28;
    padding-top: 25px;
}

footer i {
    color: #eec643;
    padding: 0 20px;
    font-size: 2rem;
    transition: opacity 0.3s ease;
}

footer i:hover {
    opacity: 0.5;
}


/* Media Queries */

/* Media Queries for max-width: 650px  */
@media (max-width: 650px) {

    .navbar {
        padding: 0.8rem;
    }

    i {
        font-size: small;
    }

    footer i {
        font-size: 1.5rem;
    }
}
