{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
  
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
    />

    <!-- Extra CSS -->
    {% block extra_css %} {% endblock %}

    <title>{% block title %}Green Ways{% endblock %}</title>
  </head>
  <body>
    <div class="logo-container">
      <!-- Logo -->
      <div class="container text-center">
        <a href="{% url 'home' %}">
          <img
            src="{% static 'images/greenways-logo.PNG' %}"
            alt="Greenways Logo"
            class="navbar-logo img-fluid"
          />
        </a>
      </div>
    </div>
    <header>
      <!-- Navigation bar -->
      <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
          <button
            class="navbar-toggler btn btn-outline-warning ml-auto"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span><i class="fa-solid fa-bars"></i></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item mr-md-5">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item dropdown mr-md-5">
                <!-- Add "dropdown" class for the dropdown menu -->
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="learnDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Learn
                </a>
                <div class="dropdown-menu" aria-labelledby="learnDropdown">
                  <a class="dropdown-item" href="{% url 'building_learn' %}"
                    >Sustainable Building</a
                  >
                  <a class="dropdown-item" href="{% url 'travel_learn' %}"
                    >Sustainable Travel</a
                  >
                  <a class="dropdown-item" href="{% url 'food_learn' %}"
                    >Sustainable Food</a
                  >
                </div>
              </li>
              <li class="nav-item mr-md-5">
                <a class="nav-link" href="{% url 'calculator' %}">Calculator</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {% block content %} {% endblock content %}

    <!-- Footer -->
    <footer class="footer text-light">
      <!-- Apply "bg-dark" and "text-light" classes -->
      <div class="container">
        <div class="row">
          <div class="col-lg-4 text-center text-lg-left">
            <p>&copy; Greenways 2023</p>
          </div>
          <div class="col-lg-4 text-center">
            <ul class="list-inline social-media">
              <li class="list-inline-item">
                <a
                  href="https://www.facebook.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="link to Facebook"
                >
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  href="https://www.instagram.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="link to Instagram"
                >
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  href="https://twitter.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="link to Twitter"
                >
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4">
            <!-- Additional content on the right if needed -->
          </div>
        </div>
      </div>
    </footer>

    <!-- Font Awesome Script -->
    <script
      src="https://kit.fontawesome.com/3b53fd0ccc.js"
      crossorigin="anonymous"
    ></script>
    <!-- jQuery Script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Extra CSS -->
    {% block extra_js %} 
    {% endblock %}
    <!-- Bootstrap Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
