{% extends 'base.html' %}

{% block content %}
<div class="container calculate-style">
    <div class="row">
        <div class="col">
            <h2>Footprint Carbon Calculator</h2>
            <p>
                Check here how much carbon your car produces and what can you do
                to reduces this values and make a greener planet!
            </p>
        </div>
    </div>
    <form class="form-group" action="">
        <div class="row">
            <div class="col">
                <label for="travel-mode">Choose Travel Model:</label>
                <select name="travel-mode" id="travel-mode">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option id="small-diesel-car" value="Small Diesel Car">Small Diesel Car</option>
                    <option id="medium-diesel-car" value="Medium Diesel Car">Medium Diesel Car</option>
                    <option id="big-diesel-car" value="Big Diesel Car">Big Diesel Car</option>
                    <option id="small-petrol-car" value="Small Petrol Car">Small Petrol Car</option>
                    <option id="medium-petrol-car" value="Medium Petrol Car">Medium Petrol Car</option>
                    <option id="big-petrol-car" value="Big Petrol Car">Big Petrol Car</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="km-usage">Km travelled per month:</label>
                <input type="number" id="km-usage" name="km-usage">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-success">Click to Calculate</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}