{% extends 'base.html' %}

{% block content %}
    <h1>Nourishing Ourselves and Our Planet: The Power of Sustainable Food Choices</h1>
    <p>
        In a world where our choices can significantly impact the environment, one of the most powerful and immediate (yet very often forgotten or brushed aside) actions we can take is to make sustainable food choices. Our diets play an essential role not only in our own health but also in the health of the planet. Let's look into the how and why of sustainable food choices and their incredible benefits.<br>
        Let's start with the footprint our diets leave on enviroment. Our food choices have a profound environmental impact. The production of food adds to greenhouse gas emissions, water pollution, deforestation, and biodiversity loss, just to name a few. Here's a few ways our dietary choices affect the planet:
        <ul>
            <li>Meat Production
                <p>
                    The production of meat, particularly beef, requires enormous amounts of water, land, and resources. It's one of the leading contributors to deforestation and greenhouse gas emissions.
                </p>
            </li>
            <li>Overfishing
                <p>
                    Both, illegal and unsustainable, fishing practices are depleting our oceans of marine life, disrupting ecosystems, and threatening the livelihoods of coastal communities.
                </p>
            </li>
            <li>Food Transportation
                <p>
                    Produce that travels long distances to eventually reach our plates have a larger carbon footprint due to the energy needed for transportation.
                </p>
            </li>
        </ul>
        The good news is that we have the power to make our own sustainable food choices that can reduce these environmental impacts. Here are some steps you can take:
        <ul>
            <li>Reduce Meat Consumption
                <p>
                    Consider adopting a flexitarian or plant-based diet. Reducing meat consumption, not neccessary eliminating,  especially red meat, can significantly decrease your carbon footprint.
                </p>
            </li>
            <li>Choose Seasonal and Local
                <p>
                    Shop nearby! Support local farmers by buying fresh, seasonal produce. This reduces the energy needed for transportation and supports local community by giving more job opportunities.
                </p>
            </li>
            <li>Avoid Food Waste
                <p>
                    Most of us are guilty creating food waste. Nearly one-third of all food produced goes to waste. Minimize it by planning your meals, buying only what you need, and properly storing leftovers to be comsumed later. There is extensive amount of leftover recipes if inspiration is needed.
                </p>
            </li>
            <li>Opt for Sustainable Seafood
                <p>
                    When consuming seafood, choose options that are sustainably sourced. Look for certifications and if chosen to buy from local fisherman, at least ask questions
                </p>
            </li>
        </ul>

    </p>
{% endblock content %}