{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="image-container reveal">
    <img
      src="{% static 'images/food-landing-page.jpg' %}"
      alt="Landing image"
      class="landing-image"
    />
    <p class="overlay-text"><i>Sustainable Food</i></p>
  </div>
<div class="home-container mt-5">
<div class="text-container col reveal">
    <h1>Nourishing Ourselves and Our Planet: The Power of Sustainable Food Choices</h1>
    <p id="p-center">
        In a world where our choices can significantly impact the environment, one of the most powerful and immediate (yet very often forgotten or brushed aside) actions we can take is to make sustainable food choices. Our diets play an essential role not only in our own health but also in the health of the planet. Let's look into the how and why of sustainable food choices and their incredible benefits.<br>
        Let's start with the footprint our diets leave on enviroment. Our food choices have a profound environmental impact. The production of food adds to greenhouse gas emissions, water pollution, deforestation, and biodiversity loss, just to name a few. Here's a few ways our dietary choices affect the planet:
        <ul>
            <li>Meat Production
                <p>
                    The production of meat, particularly beef, requires enormous amounts of water, land, and resources. It's one of the leading contributors to deforestation and greenhouse gas emissions.
                </p>
            </li>
            <li>Overfishing
                <p>
                    Both, illegal and unsustainable, fishing practices are depleting our oceans of marine life, disrupting ecosystems, and threatening the livelihoods of coastal communities.
                </p>
            </li>
            <li>Food Transportation
                <p>
                    Produce that travels long distances to eventually reach our plates have a larger carbon footprint due to the energy needed for transportation.
                </p>
            </li>
        </ul>
    </div>
        <div class="text-container col mt-5 reveal">
        <h2>
            The good news is that we have the power to make our own sustainable food choices that can reduce these environmental impacts. Here are some steps you can take:
        </h2>
            <ul>
            <li>Reduce Meat Consumption
                <p>
                    Consider adopting a flexitarian or plant-based diet. Reducing meat consumption, not neccessary eliminating,  especially red meat, can significantly decrease your carbon footprint.
                </p>
            </li>
            <li>Choose Seasonal and Local
                <p>
                    Shop nearby! Support local farmers by buying fresh, seasonal produce. This reduces the energy needed for transportation and supports local community by giving more job opportunities.
                </p>
            </li>
            <li>Avoid Food Waste
                <p>
                    Most of us are guilty creating food waste. Nearly one-third of all food produced goes to waste. Minimize it by planning your meals, buying only what you need, and properly storing leftovers to be comsumed later. There is extensive amount of leftover recipes if inspiration is needed.
                </p>
            </li>
            <li>Opt for Sustainable Seafood
                <p>
                    When consuming seafood, choose options that are sustainably sourced. Look for certifications and if chosen to buy from local fisherman, at least ask questions
                </p>
            </li>
        </ul>
    </div>
    <div class="text-container col mt-5 reveal">
        <h2>
        Making sustainable food choices not only improves enviroment and helps the planet but also offers several personal benefits:
        </h2>
        <ul>
            <li>Health improvement
                <p>
                    Plant-based diets are associated with lower risks of chronic diseases such as diabetes, heart disease and certain types of cancer. It helps to avoid obesity and improves overall health.
                </p>
            </li>
            <li>Ethical Considerations
                <p>
                    Choosing foods that align with ethical and sustainable practices supports humane treatment of animals and fair labor practices.
                </p>
            </li>
            <li>Money Savings
                <p>
                    Eating as locally and seasonally as possible can often be more cost-effective, as fresh, in-season produce tends to be less expensive and reduces travel expenses.
                </p>
            </li>
        </ul>
    </div>
    <div class="text-container col mt-5 reveal">
        <h2>
        Supporting sustainable food choices extends way beyond your personal dietary choices. There is also an option to advocate for change in your community and on a larger scale:
        </h2>
        <ul>
            <li>Support Local Policies
                <p>
                    Advocate for policies that encourage sustainable agriculture, reduce food waste, and encourage local food production.
                </p>
            </li>
            <li>Educate and Share
                <p>
                    Educate friends and family about the benefits sustainable eating has and share tasty plant-based recipes to inspire others.
                </p>
            </li>
            <li>Choose Sustainable Brands
                <p>
                    Research and support companies and brands that prioritize sustainability in their production and sourcing practices.
                </p>
            </li>
        </ul>
    <p>
        Our food choices hold the power to heal the planet and nurture our own well-being. By opting for sustainable food choices, lowering our carbon footprint, and advocating for change, we can create a more harmonious relationship between our diets and the environment. Together, we can nourish ourselves and the planet for generations to come.
    </p>
</div>
    </p>
</div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/scroll_display.js' %}"></script>
{% endblock %}