{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Landing image -->
<div class="image-container reveal">
  <img
    src="{% static 'images/landing-image.jpeg' %}"
    alt="Landing image"
    class="landing-image"
  />
  <p id="landing-page-overlay" class="overlay-text"><i>"Empowering Change Through ESG Wisdom"</i></p>
</div>

<!-- Horizontal Line -->
<hr class="separator" />

<div class="home-container reveal">
  <!-- About us section -->
  <div class="text-container mt-5 mb-5 col">
    <h1>About Us</h1>
    <p>
      Welcome to Greenways, a passionate hub for sustainable living and
      environmental consciousness. Our goal is to empower individuals like you
      to make meaningful choices that reduce carbon footprint and contribute to
      a more sustainable planet where people live harmoniously with nature,
      making informed decisions that preserve and enhance our environment for
      generations to come.
    </p>
    <br />
    <p>
      At Greenways, we curate and create content that is well-researched,
      fact-checked, and grounded in scientific evidence. The Carbon calculator,
      an integral part of our platform, is designed to help you understand
      individual impact on the environment and discover practical ways to
      decrease it.
    </p>
    <br />
    <p>
      We are dedicated to provide the knowledge, tools, and inspiration to
      environmentally conscious individuals who are willing to learn and
      collectively work towards a greener future. We believe that every action,
      no matter how small, contributes to a larger, positive change for our
      planet. Explore the wealth of information on our website, from articles on
      sustainable travel, eco-friendly buildings, and responsible food choices,
      to tools that calculate your carbon footprint. Engage and follow us social
      media to stay updated with the latest developments in the world of
      sustainability. Together, we can make a significant difference, one
      eco-conscious choice at a time.
    </p>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/scroll_display.js' %}"></script>
{% endblock %}
